<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kunkun.oaBlack.module.personnelManagement.mapper.PersonUserMapper">
    <select id="selectUserVo" resultType="com.kunkun.oaBlack.module.personnelManagement.vo.UserVo">
select user_id,user_name,email,mobile,birth,work_status,department_id,post_id from t_user;
    </select>
</mapper>